:root {
  --text-indent: 14px;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  color: #2e2f42;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  max-width: 100%;
  object-fit: cover;
}
/* GENEL KAPSAYICI */
.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}
/* HEADER */
.page-header {
  background-color: #ffffff;
  justify-content: space-around;
  border: 1px solid #e7e9fc;
  padding: 24px 0;
}
/* FLEX DÜZEN */
.page-header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav {
  display: flex;
  align-items: center;
  gap: 76px;
}
.page-header a {
  color: #2e2f42;
  text-decoration: none;
  line-height: 1.1;
  align-items: center;
  display: flex;
}
.page-header a:hover {
  color: #404bbf;
}
/* MENÜ */
.page-nav {
  display: flex;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  list-style: none;
  line-height: 1.5;
  text-decoration: none;
  color: #2e2f42;
  margin: 0;
  gap: 40px;
}
.page-nav a {
  position: relative;
  text-decoration: none;
  color: #2e2f42;
  font-weight: 500;
  padding-bottom: 4px;
  transition: color 0.3s ease;
}
.page-nav a.active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 4px;
  background-color: #4d5ae5;
  border-radius: 2px;
}
address {
  font-style: normal;
}
/* CONTACTS */
.page-mail {
  display: flex;
  font-weight: 400;
  font-size: 16px;
  font-style: normal;
  line-height: 1.5;
  list-style: none;
  color: #2e2f42;
  gap: 40px;
}
/* LOGO */
.logo {
  display: flex;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.1;
  text-decoration: none;
}
.page-header .logo .web {
  display: flex;
  justify-content: center;
  color: #4d5ae5;
}
.page-header .logo .studio {
  color: #2e2f42;
  align-items: center;
}
footer .logo .web {
  display: flex;
  align-items: center;
  color: #4d5ae5;
}
footer .logo .studio {
  color: #f4f4fd;
  align-items: center;
}
.page-mail a {
  color: #2e2f42;
}
h1 {
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  color: #f4f4fd;
}
h2 {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.1;
}
h3 {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
}
.hero .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.hero {
  background-color: #2e2f42;
  text-align: center;
  padding: 120px 0;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.8),
      rgba(46, 47, 66, 0.8)
    ),
    url("../images/people-office1.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  max-width: 1440px;
  margin: 0 auto;
}
.icon-antenna,
.icon-clock,
.icon-diagram,
.icon-astronaut {
  width: 64px;
}
.icons {
  border: 1px solid #8e8f99;
  display: flex;
  border-radius: 4px;
  width: 264px;
  height: 112px;
  background-color: #f4f4fd;
  justify-content: center;
  align-items: center;
}

.hero .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 16px 32px;
  height: 56px;
  background-color: #4d5ae5;
  color: #fff;
  border: none;
  font-size: 16px;
  cursor: pointer;
  margin-top: 180px;
  border-radius: 4px;
  margin-top: 48px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: 250ms, cubic-bezier(0.4, 0, 0.2, 1);
}
button:hover {
  background-color: #404bbf;
}
.features {
  display: flex;
  flex-wrap: wrap;
  font-weight: 300;
  justify-content: space-between;
  gap: 24px;
  margin: 0;
  padding: 120px 0;
  list-style: none;
}
.features .item {
  width: calc((100% - 72px) / 4);
}
.features .container {
  max-width: 1128px;
  margin: 0 auto;
}
.features h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}
.features p {
  padding-top: 8px;
}

section.ourteam {
  list-style: none;
  background-color: #f4f4fd;
}
.ourteam {
  text-align: center;
  list-style: none;
  padding: 120px 0;
}
.ourteam h2 {
  text-align: center;
  list-style: none;
  margin-bottom: 72px;
}
.ourteam ul {
  list-style: none;
  margin: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 24px;
  margin-top: 10px;
}
.ourteam-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 24px;
}
.ourteam-list .info h3 {
  font-size: 20px;
  font-weight: 500;
  color: #2e2f42;
  margin: 0 0 8px 0;
}
.ourteam-list .item {
  background-color: #ffffff;
  border-radius: 0 0 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  width: 264px;
}
.ourteam-list .info {
  padding: 32px 16px;
  text-align: center;
}
.item {
  background-color: #ffffff;
  border-radius: 4px;
  overflow: hidden;
  width: 264px;
  gap: 16px;
}

.icon-instagram,
.icon-twitter,
.icon-facebooksvg,
.icon-linkedin {
  width: 24px;
  height: 24px;
}

.socials {
  display: flex;
  gap: 24px;
  transition: 250ms, cubic-bezier(0.4, 0, 0.2, 1);
}

.socials :hover,
.socials :focus {
  background-color: #31d0aa;
}

.socials-icon {
  display: flex;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  list-style: none;
  background-color: #4d5ae5;
  align-items: center;
  justify-content: center;
}

.socials img {
  width: 20px;
  height: 20px;
  filter: invert(1);
}
.portfolio .container {
  max-width: 1128px;
  margin: 0 auto;
}
.portfolio {
  padding: 120px 0;
}
.portfolio-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
  gap: 24px;
  padding: 0;
  margin: 0;
}
.portfolio h2 {
  text-align: center;
  list-style: none;
  margin-bottom: 72px;
}
.portfolio-list li {
  width: calc((100% - 48px) / 3);
  border: 1px solid #e7e9fc;
  box-sizing: border-box;
  text-align: left;
}
.portfolio-box {
  display: flex;
  flex-direction: column;
  gap: 8px;
  border: 1px solid #e7e9fc;
  padding: 32px 16px;
}
.portfolio-item {
  position: relative;
  overflow: hidden;
}
.overlay-item {
  position: relative;
  overflow: hidden;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 360px;
  height: 300px;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 8px;
  background-color: #3f51b5;
  color: #fff;
}
.portfolio-item:hover .overlay {
  transform: translateY(0);
}
footer {
  background-color: #2e2f42;
  color: #e7e9fc;
  padding: 120px 0;
}
.footer .container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 120px;
}
.footer-info {
  width: 264px;
}
.footer-text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #f4f4fd;
  width: 264px;
  padding-top: 16px;
}
.social-media {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}

.social-icon {
  display: flex;
  list-style: none;
  gap: 16px;
  margin: 0;
  padding: 0;
}
.social-title {
  font-size: 16px;
  font-weight: 500;
  margin: 0;
  color: #ffffff;
}
.social-media img {
  width: 24px;
  height: 24px;
  filter: invert(1);
}
.social-icon a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
}
/* footer sağ kısım*/

.icon-Frame {
  width: 24px;
  height: 20px;
  margin-left: 8px;
}

.subscribe {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  border-radius: 4px;
}

.email-form {
  display: flex;
  width: 264px;
  height: 40px;
  gap: 24px;
}

.is-open {
  display: flex;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  display: none;
}

.modal-content {
  background-color: #fff;
  padding: 30px;
  border-radius: 4px;
  width: 408px;
}

.modal-title {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 16px;
}

label {
  display: block;
  margin-bottom: 4px;
  font-size: 14px;
}

.input-wrapper {
  position: relative;
  margin-bottom: 12px;
}

.input-wrapper .icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
  fill: #4f5ef5; /* ikon rengi */
}

.input-wrapper input {
  width: 100%;
  padding: 8px 8px 8px 36px; /* ikon için sol boşluk */
  font-family: inherit;
  border: 1px solid #4f5ef5;
  border-radius: 4px;
}

textarea {
  width: 100%;
  height: 80px;
  padding: 8px;
  border: 1px solid #4f5ef5;
  border-radius: 4px;
  resize: none;
  font-family: inherit;
}

.checkbox {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 14px;
}

.send-btn {
  display: block;
  padding: 16px 40px;
  background-color: #4f5ef5;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-weight: 600;
  cursor: pointer;
  margin: 0 auto;
}

.send-btn:hover {
  background-color: #3b4cd1;
}

.icon-close-black {
  width: 8px;
  height: 8px;
}

.close-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  background-color: #e7e9fc;
  border-radius: 50%;
}
